steps {
  gitlabCommitStatus(name: 'unit tests') {
    sh 'npm run test:ci'
    junit 'reports/TESTS*.xml'
    cobertura(
      coberturaReportFile       : 'coverage/cobertura-coverage.xml',
      enableNewApi              : true,
      conditionalCoverageTargets: '20.0, 15.0, 10.0',
      fileCoverageTargets       : '75.0, 70.0, 60.0',
      lineCoverageTargets       : '20.0, 15.0, 10.0',
      methodCoverageTargets     : '20.0, 15.0, 10.0',
      maxNumberOfBuilds         : 0,
      sourceEncoding            : 'ASCII',
      autoUpdateHealth: false,
      autoUpdateStability: false,
      failUnhealthy: false,
      failUnstable: false,
      onlyStable: false,
    )
  }
}
